.card-img-top{
  width: 80%;
  height: 30%;
}
body {
  background: url("../images/bgMainPage2.jpg");
  background-size: 100% 100%;
  /* background-repeat: no-repeat; */
}

header {
  opacity: 0;
  color: white;
}
.myAuth {
  margin:0 auto;
  width: 50%;
}

/* .myheader {
  opacity: 0.1;
  color: white:
} */