body {
    background: url("../images/bgMainPage3.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
}

header {
    /* opacity: 0.1; */
    color: whitesmoke;

}
.myAuth {
    /* margin:0 auto; */
    float: right;
    width: 50%;
}

/* .myheader {
    opacity: 0.1;
    color: white:
} */